body {
    font-family: 'Roboto', sans-serif;
}


.small-head-home {
    font-size: 30px;
    font-weight:100;
    color: #191919;
}

.order-text {
    font-size: 30px;
}
.nav li {
    font-size: 12px;
    text-transform: uppercase;
    margin-left:30px;
    font-weight: normal;
}
.navbar{
    background: none;
}

.nav li a {
    color: #191919 !important;
}

.nav li a:hover {
    color: #e50019 !important;
    text-decoration: none;
}

.red {
    color: #e50019;
}

.mybutton {
    border-radius: 0;
    background: #e50019;
    width: 185px;
    height: 55px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    vertical-align: central;
}

.mybutton:hover {
    color: #292929;
    background: white;
}

.advantages-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.order {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    vertical-align: central;
}

.dark {
    background: #292929;
    vertical-align: central;
}

.btn-round {
    background: #e50019;
    border-radius: 25px;
    height:42px;
    color: white;
    margin-left: 30px;
}

.btn-round:hover {
    background: #292929;
}
#home {
    background: url(images/main_background.png) no-repeat center center;
    background-size: cover;
    margin: 0 !important;
}

.head {
    font-weight: 900 !important;
    text-transform: uppercase;
    font-size: 60px;
    color: #191919;
   
}

#home .head {
    padding-bottom: 50px;
    padding-top: 100px;
}

#advantages .head, #services .head {
    padding-bottom: 25px;
    padding-top: 100px;
}
   
#advantages ul{
    color: #888;
    font-size: 18px;
    margin-left: 100px;
    padding-top: 55px;
}

#advantages ul li {
    margin-bottom: 50px;
    list-style-image: url(/Content/images/arrow.png);       
}

#services {
    background: #eaeaea;
}

.second-head {
    font-size: 20px;
    color: #888888;
}

p {
    font-size: 18px;
    color: #888888;
}

.service-head {
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    padding-left:10%;
    padding-right:10%;
}

.service-block:hover .service-head {
    color: #191919;
}
    .service-block:hover .service-head span {
        display: block;
    }
    
    .service-head span {
        font-size: 16px;
        color: #888888;
        text-transform: none;
        display: none;
    }
.service-block {
    padding: 0;
    text-align: center;
    background: black;
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

    .service-block:hover {
        background: white;
        color: #191919;
        cursor:pointer;
    }

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom: none !important;
    border-radius: 0 !important;
    color: #191919;
    text-transform: uppercase;
}

.line {    
    width: 120px;
    height: 3px;
    background: #e50019;
    display:block;
}
    
.modal-footer {
    border-top: none !important;
    text-align: center;
}
.form-control {
    border-radius: 0 !important;
    border-color: #888888;
}

label {
    color: #888888;
}

<<<<<<< HEAD

#services img {
    opacity: 0.3; 
    width:100%;
}

#services .text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
}

#services a {
    color: #4758a5;
    font-weight:600;
    font-size:16px;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
    
.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom: none !important;
    border-radius: 0 !important;
    color: #191919;
    text-transform: uppercase;
}


.line {    
    width: 120px;
    height: 3px;
    background: #e50019;
    display:block;
}
    
.modal-footer {
    border-top: none !important;
    text-align: center;
}
.form-control {
    border-radius: 0 !important;
    border-color: #888888;
}

label {
    color: #888888;
}

.advantages-photo {
    background: url(/Content/images/featurs.png) left top no-repeat;
    height: 768px;
}

@media screen and (min-width : 768px) and (max-width : 1024px) {

=======
@media screen and (min-width : 768px) and (max-width : 1024px) {
>>>>>>> master
    .nav li {
        font-size: 10px;
        margin-left: 15px;
    }

    .btn-round {
        margin-left: 15px;
    }
    .head {
        font-size: 50px;
        color: #191919;
    }

    #home .head {
        margin-bottom: 40px;
        margin-top: 120px;
    }

    #advantages .head {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .small-head-home{
        font-size:20px;
    }

    .second-head {
        font-size: 18px;
    }
    .order-text{
        font-size:20px;
    }
    .mybutton {
        width: 140px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
    }

    .order {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .advantages-photo {
        background: url(/Content/images/featurs.png) left center no-repeat;
        background-size:cover;
        height: 200px;
        width:100%;
    }

    #advantages ul {
        color: #888;
        font-size: 16px;
        margin-left: 50px;
        padding-top: 30px;
    }

        #advantages ul li {
            margin-bottom: 30px;
        }

    .advantages-button {
        margin-top: 15px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

}

@media screen and (min-width : 320px) and (max-width : 767px) {
    .navbar {
        background: #292929;
        color: white;
    }

    .nav li {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
    }

    .btn-round {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nav li a {
        color: white !important;
    }

    .nav li:hover, .nav li:hover a {
        background: white;
        color: #292929 !important;
    }

    .head {
        font-size: 30px;
        color: #191919;
    }

    #home .head {
        font-size: 30px;
        color: #191919; 
    }

    #advantages .head {
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .second-head {
        font-size: 16px;
    }
    .small-head-home {
        font-size: 16px;
    }
    .order-text {
        font-size: 18px;
    }

    .order {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right:15px; 
        padding-left:15px;
    }
    .mybutton {
        width: 140px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
    }

    .advantages-photo {
        background: url(/Content/images/featurs.png) left center no-repeat;
        height: 150px;
    }

    #advantages ul {
        color: #888;
        font-size: 14px;
        margin-left: 40px;
        padding-top: 15px;
    }

        #advantages ul li {
            margin-bottom: 15px;
        }

    .advantages-button {
        margin-top: 15px;
        margin-bottom: 30px;
        width: 100%;
        text-align:center;
    }
}